body {
    display: flex;
    flex-direction: column;
    font-family: Georgia, sans-serif;
    margin: auto;
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-height: 4em;
    background-color: #AFD6DF;
}

ul {
    display: flex;
    gap: 50px;
    padding: 5em;
    list-style: none;
}

li > a {
    text-decoration: none;
    font-weight: 800;
    font-size: 20px;
    color: whitesmoke;
    text-shadow: 0 0 3px palevioletred;

}

header > img {
    max-height: 12em;
    width: auto;
    margin-top: 15px;
    padding-left: 5em;
}

.intro {
    display: flex;
    background-color: #AFD6DF;
    padding: 3em;
    align-items: center;
    padding-top: 8em;
    justify-content: center;
    gap: 80px;
}

.welcome {
    max-width: 30em;
    color: palevioletred;
}

h1 {
    font-size: 45px;
    font-weight: 900;
}

.welcome > p {
    font-size: 24px;
    font-weight: 500;
}

#main-picture {
    width: 500px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 100px palevioletred;
}

button {
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    border-radius: 10px 0 10px;
    box-shadow: 0 0 6px white;
    border: none;
    padding: 10px;
    font-weight: 600;
    color: white;
    background-size: 200%;
    background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);
    
}

button:hover {
    font-size: 32px;
}

.preview {
    flex: 1;
}

.quote {
    flex: 1;
}

.price-quote {
    flex: 1;
}