@font-face {
    font-family: Cour;
    src: url(fonts/Courgette-Regular.ttf);
}

body {
    display: flex;
    flex-direction: column;
    font-family: "Gill sans", Georgia, sans-serif;
    margin: auto;
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-height: 4em;
    background-color: #AFD6DF;
}

ul {
    display: flex;
    gap: 50px;
    padding: 5em;
    list-style: none;
}

li > a {
    text-decoration: none;
    font-weight: 800;
    font-size: 20px;
    color: whitesmoke;
    text-shadow: 0 0 3px palevioletred;

}

header > img {
    max-height: 12em;
    width: auto;
    margin-top: 15px;
    padding-left: 2em;
}

.intro {
    display: flex;
    background-color: #AFD6DF;
    padding: 3em;
    align-items: center;
    padding-top: 8em;
    justify-content: center;
    gap: 80px;
    flex; 1;
}

.welcome {
    max-width: 40em;
    color: palevioletred;
}

h1 {
    font-size: 45px;
    font-weight: 900;
    font-family: Cour;
}

.welcome > p {
    font-size: 24px;
    font-weight: 600;
}

#main-picture {
    width: 500px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 100px palevioletred, 0 0 3px white;
}

button {
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    border-radius: 10px 0 10px;
    box-shadow: 0 0 6px white;
    border: none;
    padding: 10px;
    font-weight: 600;
    color: white;
    background-size: 200%;
    background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);
}

button:hover {
    font-size: 26px;
    box-shadow: 0 0 10px gold;
}
h2 {
    text-align: center;
    font-size: 35px;
    padding: 30px;
}

.preview {
    flex: 1;
    font-family: Cour;
    display: flex;
    flex-direction: column;
}

.pictures {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

.icons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pics {
    width: 300px;
    height: auto;
}

.pops {
    height: 200px;
}

.quote {
    flex: 1;
    height: 20em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.price-quote {
    flex: 1;
}